<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.ssafy.project1.dto.MemberDTO" alias="MemberDTO" />
		<typeAlias type="com.ssafy.project1.dto.CommentDTO" alias="CommentDTO" />
		<typeAlias type="com.ssafy.project1.dto.FavoriteDTO" alias="FavoriteDTO" />	
		<typeAlias type="com.ssafy.project1.dto.PhotoDTO" alias="PhotoDTO" />
		<typeAlias type="com.ssafy.project1.dto.EmailAuthDTO" alias="EmailAuthDTO" />
		<typeAlias type="com.ssafy.project1.dto.SuccessTemp" alias="SuccessTemp" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/MemberSQLMapper.xml" />
		<mapper resource="mybatis/CommentSQLMapper.xml" />
		<mapper resource="mybatis/FavoriteSQLMapper.xml" />
		<mapper resource="mybatis/PhotoSQLMapper.xml" />
		<mapper resource="mybatis/EmailAuthSQLMapper.xml" />
	</mappers>
	

</configuration>